body{
    background-color: white;
}

.footer{
    background-color: orangered;
    bottom: 0;

        

        width: 100%;

        text-align: center;
}

.container-fluid{
    background-color: orangered;
}

