body{
    background-color: white;
}

.footer{
    background-color: orange;
    bottom: 0;

        

        width: 100%;

        text-align: center;
}

.container-fluid{
    background-color: orange;
}
 
.altura{
    width: 100%;
    min-height: 100vh;
}

.moto1{
    width: 100%;
    min-height: 100vh;
}

.carro1{
    width: 100%;
    min-height: 100vh;
}

.editarcarro{
    width: 100%;
    min-height: 100vh;
}

.editarmoto{
    width: 100%;
    min-height: 100vh;
}

.editarcaminhao{
    width: 100%;
    min-height: 100vh;
}